<div class="contenedor" ng-init="init()"> 
	<div>
		<div class="formGroup">
			<!-- <label for="datosUnidad">Datos de la unidad:</label> -->
	    	<input  class="rounded" type="text" placeholder="Buscar unidad" ng-model="datoUnidad">
	    	<button type="button" class="btn btn-primary" ng-click="lookUpUnidad(datoUnidad)">Buscar</button>
		</div>
    	</br>
    	<div id="tablaUnidad">
    		<table class="table table-condensed table-striped table-hover"> 
				<thead> 
					<tr> 
						<th>Número económico</th> 
						<th>Número económico cliente</th>
						<th>Marca</th>
						<th>Modelo</th>                        
						<th>Motor</th>									   
					</tr> 
				</thead> 
				<tbody> 
					<tr dir-paginate="unidad in unidades | itemsPerPage:10"> 
						<td>{{unidad.numEconomico}}</td> 
						<td>{{unidad.clienteNumEconomico}}</td>			
						<td>{{unidad.marca}}</td>
						<td>{{unidad.modelo}}</td>
						<td>{{unidad.motor}}</td>
						<td>
							<button class="btn btn-primary" type="button" ng-click="lookUpCita(unidad)">Seleccionar</button>
						</td>										
					</tr>                
				</tbody> 
			</table>
			<div id="pagination">
				<dir-pagination-controls
			       	max-size="5"
			        direction-links="true"
			        boundary-links="true" >
			    </dir-pagination-controls>
			</div>	
    	</div>
    </div>
</div>

