<div ng-init="init()" class="contenedor">
    <h3>Cotización</h3></br>
    </br>
    <div class="row" cg-busy="{promise:promise,message:message, minDuration: minDuration,
   delay:delay}">
        <div class="col-md-7">
            <ul class="nav nav-tabs" id="myTabs">
                <li role="presentation" class="active"><a href="#ficha">Ficha Técnica</a></li>
                <li role="presentation"><a href="#trabajo">Trabajo</a></li>
<!--                <li role="presentation"><a href="#documentos">Documentos</a></li>-->
                <li role="presentation"><a href="#evidencia">Evidencia</a></li>
            </ul>

            <div class="tab-content">
                <div id="ficha" class="tab-pane fade in active">
                    <div class="panel panel-info">
                        </br>
                        <div class="panel-heading">
                            <h4>{{ficha[0].marca}} {{ficha[0].modelo}}</h4></div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Número económico</th>
                                        <th>Número económico cliente</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Motor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ficha[0].numEconomico}}</td>
                                        <td>{{ficha[0].clienteNumEconomico}}</td>
                                        <td>{{ficha[0].marca}}</td>
                                        <td>{{ficha[0].modelo}}</td>
                                        <td>{{ficha[0].motor}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="trabajo" class="tab-pane fade">
                    <div class="panel panel-info">
                        </br>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div>
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <!-- <th></th> -->
                                        <!-- <th>Número de cita</th> -->
                                        <th>Número de trabajo</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>
                                        <th>Trabajo</th>
                                        <th>Estatus</th>
                                    </thead>
                                    <tbody ng-repeat="t in trabajo">
                                        <tr>
                                            <!-- <td class="CX"><button type="button">+</button> -->
                                            <!-- <td>{{t.trabajo.idCita}}</td> -->
                                            <td>{{t.trabajo.idTrabajo}}</td>
                                            <td>{{t.trabajo.fechaInicio | date:"medium"}}</td>
                                            <td>{{t.trabajo.fechaFin}}</td>
                                            <td>{{t.trabajo.estatus}}</td>
                                            <td>{{t.trabajo.descripcion}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="5">
                                                <table class="tableData">
                                                    <thead>
                                                        <th></th>
                                                        <th>Número de cotización</th>
                                                        <th>Fecha</th>
                                                        <th>Cotizó</th>
                                                        <th>Total</th>
                                                    </thead>
                                                    <tbody ng-repeat="c in t.trabajo.cotizacion">
                                                        <tr>
                                                            <td class="CX">
                                                                <button type="button">+</button>
                                                            </td>
                                                            <td>{{c.idCotizacion}}</td>
                                                            <td>{{c.fecha | date:"medium"}}</td>
                                                            <td>{{c.total}}</td>
                                                            <td>{{c.nombreCompleto}}</td>
                                                        </tr>
                                                        <tr class="sub">
                                                            <td></td>
                                                            <td colspan="5">
                                                                <table class="tableData">
                                                                    <thead>
                                                                        <th></th>
                                                                        <th>Tipo de artículo</th>
                                                                        <th>Descripción</th>
                                                                        <th>Precio</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Subtotal</th>
                                                                    </thead>
                                                                    <tbody ng-repeat="cd in c.cotizacionDetalle">
                                                                        <tr>
                                                                            <td class="CX">
                                                                                <button ng-if="cd.idTipoElemento == 1" type="button">+</button>
                                                                            </td>
                                                                            <td>{{cd.tipoDescripcion}}</td>
                                                                            <td>{{cd.descripcion}}</td>
                                                                            <td>{{cd.precio}}</td>
                                                                            <td>{{cd.cantidad}}</td>
                                                                            <td>{{cd.subtotal}}</td>
                                                                        </tr>
                                                                        <tr class="sub">
                                                                            <td colspan="3"></td>
                                                                            <td colspan="3">
                                                                                <table class="tableData">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Descripción</th>
                                                                                            <th>Número de parte</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr ng-repeat="p in cd.paquete">
                                                                                            <td>{{p.item}}</td>
                                                                                            <td>{{p.numeroParte}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- <div id="documentos" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>-->
                <div id="evidencia" class="tab-pane fade">
                    </br>
                    <div style="border:1">
                        <carousel interval="setInterval">
                           <div ng-if="alerta == 1" class="alert alert-warning" role="alert">Esta cotización aún no cuenta con evidencias !! </div>
                            <slide ng-repeat="slide in slides" active="slide.active">                               
                                <img class="carousel-image" ng-if="slide.tipoArchivo == '.mp4'" ng ng-src="uploads/files/videoRep.jpg">
                                <img class="carousel-image" ng-if="slide.tipoArchivo !== '.mp4'" ng ng-src="uploads/files/{{slide.idTrabajo}}/{{slide.idCotizacion}}/multimedia/{{slide.nombreArchivo}}">
                            </slide>
                        </carousel>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Chat</div>
                <div class="panel-body">
                    <div id="chat">
                        <div class="chatItem" ng-repeat="conversacion in chat">
                            <img class="visto" src="image/chat/novisto.png" ng-hide="conversacion.chatVisto == 1 || conversacion.usrVisto != 1"></img>
                            <img class="visto" src="image/chat/visto.png" ng-hide="conversacion.chatVisto == 0 || conversacion.usrVisto != 1"></img>
                            <div class="sender" ng-class="{ 'right': conversacion.usrVisto == 1, 'left': conversacion.usrVisto != 1 }"><span class="glyphicon glyphicon-user iconChat" aria-hidden="true"></span> {{ conversacion.idUsuario === 3 ? 'Yo' : conversacion.nombreCompleto }}</div>
                            <div class="date" ng-class="{ 'right': conversacion.usrVisto == 1, 'left': conversacion.usrVisto != 1 }"> {{ conversacion.fecha | date:"dd-MM-yy HH:mm" }} </div>
                            <div class="text wordwrap" ng-class="{ 'right': conversacion.usrVisto == 1, 'left': conversacion.usrVisto != 1 }">
                                {{ conversacion.mensaje }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-9">
                                <textarea class="form-control" rows="3" id="txtComentario" placeholder="Escriba un comentario" ng-model="message"></textarea>

                            </div>
                            <button type="button" class="btn btn-primary" data-loading-text="Enviando..." id="btnEnviar" ng-click="EnviarComentario(message)">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
        <div class="row">
            <div class="col-md-offset-7 col-md-5">
                <button type="button" class="btn btn-primary" ng-click="Autorizar()">Aprobar</button>
                 <button type="button" class="btn btn-danger" ng-click="Rechazar()">Rechazar</button>
            </div>
        </div>
    </div>
    <div class="video-wrap">
        <div class="video-inner">
            <video id="video1" class="video-player" src="../../image/ES_818_01_01_XR25R.mp4" preload="auto">
                <source src="../../image/ES_818_01_01_XR25R.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                <p>Sorry, but your browser does not support this video format.</p>
            </video>
            <button class="action action--close"><i class="fa fa-close"></i><span class="action__label action__label--hidden">Close preview</span></button>
        </div>
        <!-- /video-inner -->
    </div>
    <!-- /container -->