<div ng-init="init()">
	<h1>Nueva Cotización</h1>
	<div id="contenedor" class="contenedor">              
        <div>
            <div>
                <label>Trabajo:</label>
                <label ng-model="trabajo">{{trabajo}}</label>
            </div> 
            <div>
                <label>Número Economico:</label>
                <label ng-model="numEconomico">{{numEconomico}}</label>
            </div>
            <div>
                <label>Marca-Modelo:</label>
                <label ng-model="modeloMarca">{{modeloMarca}}</label>
            </div>      
		</div>	 
        <div class="formGroup">
            <input  class="rounded inputWidth" type="text" placeholder="Búsqueda: Servicio/Paquete/Refacción" ng-model="pieza">
            <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="buscarPieza(pieza)">Buscar</button>
        </div>       	
        <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
          <table class="table table-striped"> 
            <thead> 	 
                <tr> 
                    <th>No.Parte</th>                        
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Agregar</th>                    
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="piezas in listaPiezas">
                    <td>{{ piezas.numeroParte }}</td> 
                    <td>{{ piezas.descripcion }}</td>
                    <td>{{ piezas.precio }}</td>
                    <td>
                      <button class="btn btn-primary" type="button" 
                      	id="btnCotizar" ng-click="cotizacion(piezas)">+
                      </button>
                    </td>
                </tr>                
            </tbody> 
        </table> 
        </div>
		</br>
        </br>
		</br>
        <div class="row tablaBusqueda tablaAlign">
          <table class="table table-striped"> 
            <thead> 
                <tr> 
                    <th>No.Parte</th>                        
                    <th>Descripción</th>
                    <th>Cantidad</th>  
                    <th>Precio Unitario</th>
                    <th>Importe</th>                    
                    <th>Quitar</th>
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="piezas in arrayItem">
                    <td>{{piezas.numeroParte}}</td> 
                    <td>{{piezas.descripcion}}</td>
                    <td>{{piezas.cantidad}}</td>
                    <td>{{piezas.precio}}</td>
                    <td>{{piezas.importe}}</td>                    
                    <td>
                      <button class="btn btn-primary" type="button" 
                      	id="btnCotizar" ng-click="quitarPieza(piezas)">-
                      </button>
                    </td>
                </tr>                
            </tbody> 
        </table> 
        </div>
<div id="total">
                <label class="col-md-2 control-label">Total:</label> 
                <label id="totalInput"ng-model="total" class="col-md-2 control-label">{{total}}</label>    
            </div>
    </div>
</div>
</br>
</br>
</br>
</br>
<div class="row">
<div class="col-md-4">
    <iframe src="/AngularJS/Templates/uploader.html" frameborder="0" id="uploader"></iframe>
</div>
<div class="col-md-5">
     <label class="col-md-3 control-label">Observaciones:</label>
     <textarea id="observaciones" ng-model="observaciones"></textarea>
</div>
<div class="col-md-3">
    <button id="buttonEnviar" type="button" class="btn btn-info" ng-click="enviarAutorizacion(observaciones)">Enviar Autorización
  </button>
</div>    
</div>
<script type="text/javascript">
    function buttonReset() {
        var scope = angular.element($("#contenedor")).scope();
        scope.$apply(function(){
        scope.FinishSave();
      })
    }
</script>
