<script src="../../js/libs/jQuery/jquery-ui.js"></script>
<div ng-init="init()">
	<h1>Nueva Cotización</h1>
	<div id="contenedor" style="padding-left: 20px;">
        <form class="form-inline" role="form">
        <div class="ui-widget">
			<label for="exampleInputEmail1">Pieza:</label>
			<input type="text" ng-model="pieza" class="form-control"
			id="piezaTxt" placeholder="servicio/paquete/refacción" style="width: 220px;" >
			<button class="btn btn-primary" type="button" ng-click="buscarPieza()"> Buscar
	        </button>       
		</div>		 
        </form>       	
        <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
          <table class="table table-striped"> 
            <thead> 	 
                <tr> 
                	<th>ID</th> 
                    <th>No.Parte</th>                        
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Tipo Elemento</th> 
                    <th>Agregar</th>                    
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="piezas in listaPiezas">
                	<td>{{ piezas.idItem }}</td> 
                    <td>{{ piezas.numeroParte }}</td> 
                    <td>{{ piezas.descripcion }}</td>
                    <td>{{ piezas.precio }}</td>
                    <td>{{ piezas.idTipoElemento }}</td>
                    <td>
                      <button class="btn btn-primary" type="button" 
                      	id="btnCotizar" ng-click="cotizacion(piezas)">+
                      </button>
                    </td>
                </tr>                
            </tbody> 
        </table> 
        </div>
		</br>
        </br>
		</br>
        <div class="row tablaBusqueda tablaAlign">
          <table class="table table-striped"> 
            <thead> 
                <tr> 
                	<th>ID</th> 
                    <th>No.Parte</th>                        
                    <th>Descripción</th>
                    <th>Cantidad</th>  
                    <th>Precio Unitario</th>
                    <th>Importe</th>                    
                    <th>Quitar</th>
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="piezas in arrayItem">
                	<td>{{piezas.idItem }}</td> 
                    <td>{{piezas.numeroParte}}</td> 
                    <td>{{piezas.descripcion}}</td>
                    <td>{{piezas.cantidad}}</td>
                    <td>{{piezas.precio}}</td>
                    <td>{{piezas.importe}}</td>                    
                    <td>
                      <button class="btn btn-primary" type="button" 
                      	id="btnCotizar" ng-click="quitarPieza(piezas)">-
                      </button>
                    </td>
                </tr>                
            </tbody> 
        </table> 
        </div>
<div id="total">
                <label class="col-md-2 control-label">Total:</label> 
                <label id="totalInput"ng-model="total" class="col-md-2 control-label">{{total}}</label>    
            </div>
    </div>
</div>
</br>
</br>
</br>
</br>
<div class="row">
<div class="col-md-4">
    <iframe src="/AngularJS/Templates/uploader.html" frameborder="0" id="uploader"></iframe>
</div>
<div class="col-md-5">
     <label class="col-md-3 control-label">Observaciones:</label>
     <textarea id="observaciones" ng-model="observaciones"></textarea>
</div>
<div class="col-md-3">
    <button id="buttonEnviar" type="button" class="btn btn-info" ng-click="enviarAutorizacion(observaciones)">Enviar Autorización
  </button>
</div>    
</div>
<script type="text/javascript">
    function buttonReset() {
        var scope = angular.element($("#contenedor")).scope();
        scope.$apply(function(){
        scope.FinishSave();
      })
    }
</script>
