<div ng-init="init()" class="contenedor">
    <div class="row">
        <div class="col-md-3">
            <h4><b>Cotización - {{descripcion}}</b></h4>
        </div>
    </div>
    </br>
    <div class="row" cg-busy="{promise:promise,message:message, minDuration: minDuration,
   delay:delay}">
        <div>
            <ul class="nav nav-tabs" id="myTabs">
                <li role="presentation" class="active"><a href="#ficha">Ficha Técnica</a></li>
                <li role="presentation"><a href="#trabajo">Trabajo</a></li>
                <!--                <li role="presentation"><a href="#documentos">Documentos</a></li>-->
                <li role="presentation"><a href="#evidencia">Evidencia</a></li>
            </ul>

            <div class="tab-content">
                <div id="ficha" class="tab-pane fade in active">
                    <div class="panel panel-info">
                        </br>
                        <div class="panel-heading">
                            <h4>{{ficha[0].marca}} {{ficha[0].modelo}}</h4></div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Número económico</th>
                                        <th>Número económico cliente</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Motor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ficha[0].numEconomico}}</td>
                                        <td>{{ficha[0].clienteNumEconomico}}</td>
                                        <td>{{ficha[0].marca}}</td>
                                        <td>{{ficha[0].modelo}}</td>
                                        <td>{{ficha[0].motor}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="trabajo" class="tab-pane fade">
                    <div class="panel panel-info">
                        </br>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div>
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <!-- <th></th> -->
                                        <!-- <th>Número de cita</th> -->
                                        <th>Número de trabajo</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>
                                        <th>Trabajo</th>
                                        <th>Estatus</th>
                                    </thead>
                                    <tbody ng-repeat="t in trabajo">
                                        <tr>
                                            <!-- <td class="CX"><button type="button">+</button> -->
                                            <!-- <td>{{t.trabajo.idCita}}</td> -->
                                            <td>{{t.trabajo.idTrabajo}}</td>
                                            <td>{{t.trabajo.fechaInicio | date:"medium"}}</td>
                                            <td>{{t.trabajo.fechaFin}}</td>
                                            <td>{{t.trabajo.estatus}}</td>
                                            <td>{{t.trabajo.descripcion}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="5">
                                                <table class="tableData">
                                                    <thead>
                                                        <th></th>
                                                        <th>Número de cotización</th>
                                                        <th>Fecha</th>
                                                        <th>Cotizó</th>
                                                        <th>Total</th>
                                                    </thead>
                                                    <tbody ng-repeat="c in t.trabajo.cotizacion">
                                                        <tr>
                                                            <td class="CX">
                                                                <button type="button">+</button>
                                                            </td>
                                                            <td>{{c.idCotizacion}}</td>
                                                            <td>{{c.fecha | date:"medium"}}</td>
                                                            <td>{{c.total}}</td>
                                                            <td>{{c.nombreCompleto}}</td>
                                                        </tr>
                                                        <tr class="sub">
                                                            <td></td>
                                                            <td colspan="5">
                                                                <table class="tableData">
                                                                    <thead>
                                                                        <th></th>
                                                                        <th>Tipo de artículo</th>
                                                                        <th>Descripción</th>
                                                                        <th>Precio</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Subtotal</th>
                                                                    </thead>
                                                                    <tbody ng-repeat="cd in c.cotizacionDetalle">
                                                                        <tr>
                                                                            <td class="CX">
                                                                                <button ng-if="cd.idTipoElemento == 1" type="button">+</button>
                                                                            </td>
                                                                            <td>{{cd.tipoDescripcion}}</td>
                                                                            <td>{{cd.descripcion}}</td>
                                                                            <td>{{cd.precio}}</td>
                                                                            <td>{{cd.cantidad}}</td>
                                                                            <td>{{cd.subtotal}}</td>
                                                                        </tr>
                                                                        <tr class="sub">
                                                                            <td colspan="3"></td>
                                                                            <td colspan="3">
                                                                                <table class="tableData">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Descripción</th>
                                                                                            <th>Número de parte</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr ng-repeat="p in cd.paquete">
                                                                                            <td>{{p.item}}</td>
                                                                                            <td>{{p.numeroParte}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="documentos" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>-->
                <div id="evidencia" class="tab-pane fade">
                    </br>
                    <div style="border:1">
                        <carousel interval="setInterval">
                            <div ng-if="alerta == 1" class="alert alert-warning" role="alert">Esta cotización aún no cuenta con evidencias !! </div>
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img class="carousel-image" ng-if="slide.tipoArchivo == '.mp4'" ng ng-src="uploads/files/videoRep.jpg">
                                <img style="height:380px; width:100%" class="carousel-image" ng-if="slide.tipoArchivo !== '.mp4'" ng ng-src="uploads/files/{{slide.idTrabajo}}/{{slide.idCotizacion}}/multimedia/{{slide.nombreArchivo}}">
                            </slide>
                        </carousel>
                    </div>


                </div>
            </div>
        </div>
        </br>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <div ng-hide="estado==2">
                <textarea class="form-control" rows="2" cols="65" maxlength="300" ng-model="comentario" placeholder="Comentarios..."></textarea>
                <button class="form-control btn btn-success glyphicon glyphicon-ok" type="button" tooltip="Autorizar Cotización" ng-click="Autorizar(comentario)">&nbsp;Autorizar</button>
                <button class="form-control btn btn-danger glyphicon glyphicon-remove" type="button" tooltip="Rechazar Cotización" ng-click="Rechazar(comentario)">&nbsp;Rechazar</button>
                <button class="form-control btn btn-info glyphicon glyphicon-edit" type="button" tooltip="Editar Cotización" ng-click="Editar()">&nbsp;Editar</button>
                <button class="form-control btn btn-primary glyphicon glyphicon-paperclip" type="button" tooltip="Adjuntar Evidencias" ng-click="Adjuntar()">&nbsp;Adjuntar</button>
            </div>
            <div ng-hide="estado==1" class="col-md-offset-7 col-md-5">
                <button type="button" class="btn btn-success" ng-click="nuevaCotizacion()">Nueva Cotización</button>
            </div>
        </div>
    </form>

    <div class="video-wrap">
        <div class="video-inner">
            <video id="video1" class="video-player" src="../../image/ES_818_01_01_XR25R.mp4" preload="auto">
                <source src="../../image/ES_818_01_01_XR25R.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                <p>Sorry, but your browser does not support this video format.</p>
            </video>
            <button class="action action--close"><i class="fa fa-close"></i><span class="action__label action__label--hidden">Close preview</span></button>
        </div>
        <!-- /video-inner -->
    </div>
    <!-- /container -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adjuntar Archivo</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <iframe src="/AngularJS/Templates/uploader.html" frameborder="0" id="uploader"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->