<div ng-init="init()">
	<h1>CITAS</h1>
	<div id="contenedor" class="contenedor">
        <div class="formGroup form-right" >
            <div class="inputLabel">
                <label>Fecha:</label>
                <input class="rounded" type="date" ng-model="fecha" placeholder="dd/mm/yyyy" ng-change="Busqueda(fecha)"></input>
            </div>
        </div>
        <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
          <table class="table table-striped"> 
            <thead> 
                <tr> 
                    <th>Num.Economico</th>                        
                    <th>Marca-Modelo</th>
                    <th>Trabajo</th>   
                    <th>Fecha</th>                    
                    <th>Agendó</th> 
                    <th>Cotizar</th>
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="cita in listaCitas"> 
                    <td>{{ cita.Eco }}</td> 
                    <td>{{ cita.Marca }}</td>
                    <td>{{ cita.Trabajo }}</td>  
                    <td>{{ cita.Fecha | date:'dd-MM-yyyy HH:mm'}} </td>
                    <td>{{ cita.Agendo }} </td>
                    <td>
                      <button class="btn btn-primary" type="button" 
                      	id="btnCotizar" ng-click="nuevaCotizacion(cita)">
                        <span aria-hidden="true"></span>
                      </button>
                    </td>
                </tr>                
            </tbody> 
        </table> 
        </div>                 
    </div>
</div>