<div ng-init="init()" class="contenedor"> 
	<h3>Trabajos</h3>
	</br>
	<table class="table table-condensed table-striped">
		<thead>
			<th>Número económico</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>Trabajo</th>
			<th>Estatus</th>
			<th>Fecha de inicio</th>
			<th>Fecha final</th>
		</thead>
		<tbody>
			<tr ng-repeat="t in trabajos">
				<td>{{t.numEconomico}}</td>
				<td>{{t.marca}}</td>
				<td>{{t.modeloMarca}}</td>
				<td>{{t.trabajo}}</td>
				<td>{{t.estatus}}</td>
				<td>{{t.fechaInicio | date:"dd-MM-yy HH:mm"}}</td>
				<td>{{t.fechaFin | date:"dd-MM-yy HH:mm"}}</td>
				<td>
                      <button class="btn btn-info" type="button" 
                      	id="btnCotizar" ng-click="aprobacion(t)">Ver
                      </button>
                </td>
                <td>
                      <button class="btn btn-primary" type="button" 
                      	id="btnCotizar">Autorizar
                      </button>
                </td>
			</tr>
		</tbody>
	</table>
</div>