<div ng-init="init()" class="contenedor"> 
	<table class="table table-condensed table-striped">
		<thead>
			<th>Número económico</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>Trabajo</th>
			<th>Estatus</th>
			<th>Fecha de inicio</th>
			<th>Fecha final</th>
		</thead>
		<tbody>
			<tr ng-repeat="t in trabajos">
				<td>{{t.numEconomico}}</td>
				<td>{{t.marca}}</td>
				<td>{{t.modeloMarca}}</td>
				<td>{{t.trabajo}}</td>
				<td>{{t.estatus}}</td>
				<td>{{t.fechaInicio | date:"medium"}}</td>
				<td>{{t.fechaFin | date:"medium"}}</td>
			</tr>
		</tbody>
	</table>
</div>