<link href="../../css/bootstrap.css" rel="stylesheet" />
<!-- <link href="../../css/nodo.css" rel="stylesheet" /> -->
 <script src="../../js/libs/jQuery/jquery-2.1.4.js"></script>
<form 
  id        =  "uploadForm"
  enctype   =  "multipart/form-data"
  action    =  "/profile"
  method    =  "post">
  <div>
      <input type="text" id="idTrabajo" name="idTrabajo" hidden="true" />
      <input type="text" id="idCotizacion" name="idCotizacion" hidden="true" />
      <input type="text" id="idCita" name="idCita" hidden="true" />
      <input type="text" id="idUsuario" name="idUsuario" hidden="true" />
      <input type="text" id="idTipoEvidencia" name="idTipoEvidencia" hidden="true" />
      <input type="text" id="file" name="file" hidden="true" />
      <div id="wrapper">
      <div id="contenedor">
        <div class="added">
          <span class="btn btn-primary btn-file">
            Adjuntar Archivo <input type="file" id="fileDoc" name="avatar">
          </span>
           <a id="agregarCampo" class="btn btn-info">+</a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-info" type="submit" id="submit2" name="submit2">Cargar</button>
</form>
<script type="text/javascript">
	$(document).ready(function() {
		var MaxInputs = 8; 
		var contenedor = $("#contenedor");
		var AddButton = $("#agregarCampo");

		var x = $("#contenedor div").length + 1;
		var FieldCount = x-1; 

		$(AddButton).click(function (e) 
		{
			if(x <= MaxInputs)
			{
				FieldCount++; 
				$(contenedor).append('<div class="added"><span class="btn btn-primary btn-file">Elegir Archivo <input type="file" id="fileDoc_'+ FieldCount +'" name="avatar"></span><a href="#" class="eliminar">X</a></div>');
				x++;
			}
		return false;
		});

		$("body").on("click",".eliminar", function(e){ 
			if( x > 1 ) {
				$(this).parent('div').remove(); 
				x--;
			}
		return false;
		});

		$(document).ready(function() {
			if(getParameterByName('response') != null){
				window.parent.buttonReset();
			}		    	
		});

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)", "i"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

	});
</script>
